*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.screen{
	height: 100vh;
	background-color: aqua;
	align-items: center;
	justify-content: center;
	display: flex;
}
.screen>.card{
	width:350px;
	background-color: white;
	padding: 20px 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	
}
.card>h1{
	
	display: flex;
	justify-content: center;
	letter-spacing: 1px;
	
}
.card>h4{
	
	font-weight: lighter ;
	display: flex;
	justify-content: center;
	color: grey;
	letter-spacing: 1px;
}
.card>form>label{
	display: inline-block;
	letter-spacing:1px;
	color: black;
	font-size:20px;
	text-transform: uppercase;
	margin-bottom:5px;
}
input{
	display: inline-block;
	background-color: white;
	width:100%;
	height:50px;
	border-radius: 10px;
	font-size: 20px;
	border:  2px solid gray;
	padding-left: 12px;
}
.card>form>input:focus{
	border: solid  blue;
	outline: none;
	box-shadow: 0 0 2px ;
	
}
.card>button{
	width:100%;
	text-align: center;
	text-transform: uppercase;
	background-color: blue;
	color: white;
	height:40px;
	align-items: center;
    border: none;
	border-radius: 10px;
	cursor: pointer;

}
input::placeholder{
	font-size: 20px;
}
button:hover{
	background-color: limegreen;
	border: 3px solid green;
}
button:active{
	transform: scale(0.95);
	box-shadow: 0 0 10px gray;
}
